@page
@model WebApp.Pages.NextMove.Index

@{var player = "";}
@if(Model.Game!.NextMoveByX )
{
    player = Model.Game.PlayerA.Name;
}
else
{
    player = Model.Game.PlayerB.Name;
}
<div class="container" align="center">
    @if (Model.Message.Length > 1)
    {
        <div class="alert alert-danger" role="alert">@Model.Message</div>
    }
    <h2>@player turn!</h2>

    <div>Press ok to continue!</div>
    <td><a class="btn btn-outline-info" asp-route-id="@Model.Game?.GameId" asp-route-submit="ok">OK</a></td>

</div>