@page
@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.Rendering
@model WebApp.Pages.PlayerForm.Index

<div class="container" align="center">
<form method="post">
@if (Model.Message.Length > 1)
    {
        <div class="alert alert-danger" role="alert">@Model.Message</div>
    }
    <div class="col-5" >
        <div class="form-group">
            <label  asp-for="PlayerA" align="left">Insert player A name</label>
            <input asp-for="PlayerA"  class="form-control" id="Name" placeholder="Player A">
            <span asp-validation-for="PlayerA" class="text-danger"></span>
        </div>
        @if (Model.Ai != "AI")
        {
            <div class="form-group">
                <label  asp-for="PlayerB">Insert player B name</label>
                <input asp-for="PlayerB" class="form-control" placeholder="Player B">
                <span asp-validation-for="PlayerB" class="text-danger"></span>
            </div>
        }

        <div class="form-group">
            <label  asp-for="Width">Select board width</label>
            <input asp-for="Width" value="5" min="5" max="25" class="form-control">
        </div>
        <div class="form-group">
            <label  asp-for="Height">Select board height</label>
            <input asp-for="Height" value="5" min="5" max="25" class="form-control">
        </div>
         <div class="form-group">
            <label  asp-for="GameRule">Can boats touch?</label>
                <select class="form-control" asp-for="GameRule">
                <option selected="selected" value="0">Yes</option>
                    <option value="1">Only corners</option>
                     <option value="2">No</option>
                </select>
             </div>

        <div class="form-group">
            <label  asp-for="NextMove"> Select who will make the next move after hit</label>
            <select class="form-control" asp-for="NextMove">
                <option selected="selected" value="0">Same player</option>
                <option value="1">Other player</option>
            </select>

        </div>
        <div class="form-group">
            <label  asp-for="GameName">Enter your game name</label>
            <input asp-for="GameName" class="form-control" placeholder="Enter your game name">
            <span asp-validation-for="GameName" class="text-danger"></span>
        </div>

        <div class="start-button">
            <button type="submit" class="btn btn-outline-primary">Start game</button>
        </div>
    </div>
</form>
</div>