@page
@model WebApp.Pages.Statistics.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Statistic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Statistic!.QuizName" class="control-label"></label>
                <input asp-for="Statistic!.QuizName" class="form-control" />
                <span asp-validation-for="Statistic!.QuizName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statistic!.Count" class="control-label"></label>
                <input asp-for="Statistic!.Count" class="form-control" />
                <span asp-validation-for="Statistic!.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statistic!.CorrectAnswers" class="control-label"></label>
                <input asp-for="Statistic!.CorrectAnswers" class="form-control" />
                <span asp-validation-for="Statistic!.CorrectAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statistic!.QuizId" class="control-label"></label>
                <select asp-for="Statistic!.QuizId" class ="form-control" asp-items="ViewBag.QuizId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
